body {
	background: #FFF;
	font: normal 16px Helvetica, Arial, sans-serif;
}
h1 {

}
ul, li {
	margin: 0;
	padding: 0;
}
.container {
	width: 600px;
	margin: auto;
}

.event-list {
	width: 100%;
}
.event-list-item {
	border: 1px solid #e34813;
	display: block;
	margin: 10px 0;
	width: 100%;
}
.event-list-item div {
	padding: 5px;
}
.event-name {
	background: #e34813;
	color: #FFF;
}
.event-label {
	display: inline-block;
	float: left;
	width: 180px;
	text-transform: uppercase;
	letter-spacing: 2px;
}



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

@media (max-width: 800px) {
	.container {
		width: 100%;
	}
}