body {
	background: #FFF;
	font: normal 16px Helvetica, Arial, sans-serif;
}
h1 {

}
ul, li {
	margin: 0;
	padding: 0;
}
.status img {
	display: block;
	margin: auto;
	width: 100px;
}
.container {
	width: 600px;
	margin: auto;
}

.event-list {
	width: 100%;
}
.event-list-item {
	border: 1px solid #06a4bb;
	display: block;
	margin: 10px 0;
	width: 100%;
}
.event-list-item:active {
	border: 1px solid #037889;
}
.event-list-item:active .event-name  {
	background: #037889;
}
.event-list-item div {
	padding: 5px;
}
.event-label {
	color: #444;
	display: inline-block;
	float: left;
	width: 160px;
	text-transform: uppercase;
}
.event-value {
	color: #333;
	letter-spacing: 1px;
}
.event-name {
	background: #06a4bb;		
}
.event-name .event-label {
	color: #FFF;
	letter-spacing: 1px;
}
.event-timestamp {
	float: right;
	color: #eee;
	font-style: italic;
	font-size: 14px;
}



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

@media (max-width: 800px) {
	.container {
		width: 100%;
	}
	h1 {
		display: none;
	}
}